header {
    
     height: 65px;
    width: 100vw;
     position: fixed;
        background: rgba(0, 0%, 0%, 1);
        display: flex;
         justify-content: space-evenly;
        align-items: center;  
        #name_block {
            display: flex;
            flex-direction: column;
            place-items: stretch center;
            .topic{
                display: flex;
            .img_name {
               width: auto;
            height: 35px;
            }
            #name {
                padding-left: 3px;
                color: $color3;
                font-size: 1.5em;
                font-weight: 800;
                font-family: $font1;
                letter-spacing: 0.1em;
            }}
            #delicous {
                margin: 0;
                color: $color2;
                text-transform: uppercase;
                letter-spacing: 0.3em;
                font-family: $font3;
                font-weight: lighter;
                 font-size: 1.2em;
            }
        }
        #menu_top {
            justify-items: end;
            align-content: space-around;
            display: grid;
            color: $color3;
            width: 35vw;
            @for $i from 1 to 7 {
                .menu_top#{$i} {
                    font-size: calc($font-size - 2px);
                    font-weight: 400;
                    grid-row: 1/2;
                    padding-left: 0;
                    color: $color3;
                    font-family: $font1;
                     &:hover {
                         cursor: pointer;
                    }   
                }}
                .menu_btn{
                    color: $color3;
                    text-decoration: none;
                    }
                     &:visited {
                         color: $color3;
                     } 
                }
                .home {
                    color: $color2;
                }
                #basket{
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    color: $color3;
                    font-family: $font1;
                    border: 2px solid rgb(255, 255, 255, 0);
                    background-color: $color2;
                    width: 120px;
                    height: 40px;
                    border-radius: 8px;
                     text-decoration: none;
                    font-size: calc($font-size - 4px);
                    &:hover{
                        cursor: pointer;
                    }
                    #basket_btn{
                        font-weight: 400;  
                    }
                }
        }
    