    #about{
            height: 90vh;
        @extend %background;
        .contacts_info{
            background-color: $color1;
            padding-left: 12vw;
            display: flex;
        @for $i from 1 to 5{
            .contacts_info#{$i}{
                height: 13vh;
                width: 17vw;
                padding: 2vh 2vw;
            .icon {
                margin: 0;
                width: 15px;
                height: 15px;padding-right: 2px;
                }
            .info{
                color: $color3;
                font-family: $font2;
                font-size: calc($font-size - 5px);
                }
            p{
                margin: 0;
                color: lighten($color1, $amount: 45%);
                font-family: $font2;
                padding-top: 1vh;
                font-size: calc($font-size - 7px);
                }}
            }
            .contacts_info4{
                background-color: $color2;
                width: 37vw;
                padding-right: 0;
                margin-left: 0;
            }
        }
    #article_video{
      display: flex;
      height: 70vh;
      border-bottom: 5px solid $color2;
    #video {
       margin: 0;
       width: 4000px;
    }
    article {
       padding: 12vh 5vw 5vh 5vw;
       align-items: center;
    img{
        height: 25px;
        width: auto;
    }
    .topic_of_article {
     @extend %h3;
        text-transform: uppercase;
        font-size: calc($font-size + 5px);
        letter-spacing: 0.1em;
        padding-bottom: 2vh;
    .pizza{
        color: $color2;
    }}
    p {
         color: lighten($color1, $amount: 45%);
         font-size: calc($font-size + 2px);
         line-height: 25px;
} }
}
}

#contacnt{
    height: 90vh;
    display: flex;
background-color: $color1;
    iframe{
        height: 90vh;
    }
      .contact_us{
    padding: 10vh 13vw;
  .topic{
    color: $color3;
    font-size: calc($font-size + 3px);
    font-family: $font2;
    font-weight: 500;
    letter-spacing: 0.1em;
    
  }
  .input_name {
    width: 35vw;
    background-color: $color1;
   border: none;
   border-bottom: 1px solid darken($color3, $amount: 50%);
    color: darken($color3, $amount: 50%);
    margin-bottom: 2vh;
   
  }
  label{
    font-size: $font-size;
    font-weight: 100;
    font-family: $font2;
     color: $color3;
  }
  textarea{
background-color: $color1;
border: none;
border-bottom: 1px solid darken($color3, $amount: 50%);
padding: 3vh 0;
width: 35vw;
color: darken($color3, $amount: 50%);
  }
.send{
margin-top: 4vh;
height: 7vh;
width: 6vw;
background-color: $color2;
border: none;
 font-size: $font-size;
 font-weight: 100;
 font-family: $font2;
 &:hover{
    cursor: pointer;
 }
}  
.error{
    display: none;
    font-size: calc($font-size - 3px);
    font-weight: 100;
    font-family: $font2;
    color: red;
}
}
}

