#order{
    display: none;
    // display: flex;
    flex-direction: column;
    background-color: lighten($color2, $amount: 10%);
    width: 100vw;
    .head_order{
         height: 5vh;
         display: flex;
         flex-direction: row;
         padding-top: 10vh;
    .name_of_order {
       width: 90vw;
       margin: 0;
       text-align: center;
       text-transform: uppercase;
       font-family: $font1;
       font-size: $font-size;
       font-weight: 600;
       color: lighten($color1, $amount: 35%);
    }
    .xmark {
      width: 7vw;
      color: lighten($color1, $amount: 35%);
      &:hover{
        cursor: pointer;
      }
    }
    }
    #order_block{
        padding-left: 5vw;
         display: grid;
    }
    #to_order_btn{ 
        width: 40vw;
    }
    .div_order{
        height: 25vh;
        display: grid;
        width: 40vw;
        grid-template-columns: 3fr 1fr;
    .img_in_order{
        width: auto;
        height: 80px;
        grid-column: 1/2;
    }
    .name_in_order{
     margin: 0;
     grid-column: 1/2;
      color: lighten($color1, $amount: 35%);
    }
    .price_in_order{
        grid-column: 1/2;
         color: lighten($color1, $amount: 35%);
    }
    .xmark{
        grid-column: 2/3;
         color: lighten($color1, $amount: 35%);
         &:hover{
            cursor: pointer;}
       }   }
       form {
        font-family: $font2;
           padding: 3vh 0 0 5vw;
           input,
           textarea {
        padding-bottom: 3px;
        width: 320px;  
        background-color:lighten($color2, $amount: 10%);
        border: none;
        border-bottom: 1px solid lighten($color1, $amount: 35%);
        }
         .quantity {
             grid-column: 1/2;
             padding-bottom: 3vh;
         }
         .quantity input{
            width: 60px;
            border: 1px solid lighten($color1, $amount: 35%);
         }
        #order_button{
         margin-top: 5vh;
           padding: 7px;
           border: 1px solid lighten($color1, $amount: 35%);
           font-weight:600;
        }
       }
}