  section{ 
  padding-top: 65px;
    width: 100vw;
    a{
        text-decoration: none;
    }
     #section1 {
        width: 100vw;
        background-image: url("bg/bg_1.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: grid;
          align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 5fr 1fr;

        .block_section {
            @extend %block_section;
            h2 {
                @extend %section_name;
            }
            p {
                margin: 0;
            }
            .section_delicous {
                @extend %section_delicous;
            }
            .description {
                grid-column: 1/2;
                @extend %section_description;
            }
            button {
                @extend %button;
            }
            .order_now {
                @extend %section_order_now;
                 a {
                     color: $color1;
                 }
            }

            .view {
                @extend %section_view;
                a{
                    color: $color3;
                }
            }
        }
        .section_img {
            padding-top: 10vh;
            @extend %section_img;
        }
        .dot {
            @extend %dot;
            .first {
                color: darken($color3, $amount: 30%);
                border: 2px solid darken($color3, $amount: 30%);
            }
            i {
                @extend %section_dot;
            }
        }
    }
    #section2 {
        width: 100vw;
        background-image: url("bg/bg_1.jpg");
        background-repeat: no-repeat;
         background-size: 100% 100%;
        display: grid;
        display: none;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 5fr 1fr;
        .block_section {
            padding-left: 2vw;
            text-align: start;
            justify-self: start;
            align-items: center;
            h2 {
                @extend %section_name;
            }
            p {
                margin: 0;
            }
            .cranchy {
                @extend %section_delicous;
            }
            .description {
                @extend %section_description;
            }
            button {
                @extend %button;
            }
            .order_now {
                @extend %section_order_now;
                a {
                    color: $color1;
                }
            }
            .view {
                @extend %section_view;
                a {
                    color: $color3;
                }
            }
        }
        .section_img {
            padding-top: 50px;
            @extend %section_img;
            justify-self: end;
        }
        .dot {
            @extend %dot;
            grid-column: 1/3;
            .second {
                color: darken($color3, $amount: 30%);
                border: 2px solid darken($color3, $amount: 30%);
            }
            i {
                @extend %section_dot;
            }
        }
    }

    #section3 {
        width: 100vw;
        background-image: url('bg/bg_3.jpg');
        background-repeat: no-repeat;
         background-size: 100vw 100%;
        background-size: cover;
        align-content: center;
        align-items: center;
        justify-items: center;
        grid-template-rows: 5fr 1fr;
        display: none;

        .block_section {
            grid-row: 1/2;
            text-align: center;
            @extend %block_section;
             padding: 50px 0;
            h2 {
                @extend %section_name;
            }

            p {
                margin: 0;
            }

            .welcome {
                @extend %section_delicous;
            }

            .description {
                padding-left: 0;
                width: 800px;
                @extend %section_description;
            }
            button {
                @extend %button;
                margin-bottom: 35px;
            }
            .order_now {
                @extend %section_order_now;
                a {
                    color: $color1;
                }
            }
            .view {
                @extend %section_view;
                a {
                    color: $color3;
                }
            }
        }

        .dot {
            grid-row: 2/3;
            align-items: center;
            @extend %dot;
            padding: 0 0 90px 0;  

            .third {
                color: darken($color3, $amount: 30%);
                border: 2px solid darken($color3, $amount: 30%);
            }
            i {
                @extend %section_dot;
            }
        }
    }}