@import 'variebles';
@import 'extends';
@import 'header';
@import 'section';
@import 'main';
@import 'order';
@import 'footer';
@import "mediascreen";

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100vw;
    position: relative;
     overflow: hidden auto;
}